body {
  background: 161821;
  display: flex;
  height: 100vh;
  background-color: #343540;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bucchiman {
    flex: 1;
    /* background-color: #f0f0f0;*/
}

/*.topic {
 *    flex: 1;
 *    background-image: url(static.jpg);
 *}
 *
 *.topic:hover {
 *    background-image: url(animated.gif);
 *    display: grid;
 *    grid-template-columns: repeat(8, lfr);
}*/

.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}


/*.gallery:hover {
  border: 1px solid #777;
}*/

.gallery img {
  width: 100%;
  height: auto;
}

.desc {
  padding: 15px;
  text-align: center;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
